a:link {
    color:#FFFFFF;
}
a:visited {
    color:#FFFFFF;
}
a:hover {
    color:#000066;
}
a:active {
    color:#000066;
}
.container {
    margin-left:auto;
    margin-right:auto;
    width:70%;
    font-family:Arial, Helvetica, sans-serif;
}
.header {
    background-color:#FF6600;
    padding:10px;
    color:#000066;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius:5px;
    box-shadow: 0px 5px 5px #888888;
    
}
.header A{
	margin:10px;
}
.footer {
    text-align:center;
    background-color:#000066;
    padding:10px;
    color:#FF6600;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius:5px;
    box-shadow: 0px 5px 5px #888888;
}
.content {
    padding:10px;
    min-height:500px;
    border-right: 1px solid grey;
    border-left: 1px solid grey;
}
#events div
{
	margin:10px 80px 10px 10px;
	float:left;
}
.list_item
{
	background:lightgrey;
}
.special {
    color:#FFFFFF;
}
.warning {
    color:#FF0000;
}
